<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <div class="cp-links flex-row">
        <a class="cp-link" routerLink="/{{ls.language}}/home" [routerLinkActive]="'active'">Home</a>
        <a class="cp-link" routerLink="/{{ls.language}}/exams" [routerLinkActive]="'active'">Exams</a>
        <app-user-menu *ngIf="auth.user$ | async; else userNav"></app-user-menu>
        <ng-template #userNav>
            <a class="cp-link" routerLink="/{{ls.language}}/account/login" [routerLinkActive]="'active'">Login</a>
            <a class="cp-link" routerLink="/{{ls.language}}/account/register" [routerLinkActive]="'active'">Register</a>
        </ng-template>
    </div>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer [mode]="'side'" [opened]="false">
        <div class="cp-links">
            <a class="cp-link" routerLink="/{{ls.language}}/home" [routerLinkActive]="'active'">Home</a>
            <a class="cp-link" routerLink="/{{ls.language}}/exams" [routerLinkActive]="'active'">Exams</a>
            <a class="cp-link" routerLink="/{{ls.language}}/account/login" [routerLinkActive]="'active'">Login</a>
            <a class="cp-link" routerLink="/{{ls.language}}/account/register" [routerLinkActive]="'active'">Register</a>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>