:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;


    &>.mat-drawer-container {
        display: flex;
        flex-flow: column;
        height: 100%;

        .mat-drawer {
            width: 200px;
            max-width: 200px;
        }
    }
}

.cp-links {
    display: flex;
    flex-flow: column nowrap;
    max-width: 200px;
    padding: .5rem 1rem;
}