<h2 mat-dialog-title>Exam Info</h2>
<ng-container *ngIf="model">
    <mat-dialog-content class="exam-info-dialog">
        <form #examForm="ngForm">
            <input type="hidden" name="id" [value]="model.id">
            <input type="hidden" name="instructorId" [value]="model.instructorId">
            <mat-form-field appearance="legacy">
                <mat-label>Exam Name</mat-label>
                <input name="name" [(ngModel)]="model.name" matInput>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Category</mat-label>
                <input name="category" [(ngModel)]="model.category" matInput>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Exam Duration</mat-label>
                <input name="duration" [(ngModel)]="model.duration" matInput type="number">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Pass Degree</mat-label>
                <input name="passDegreePercentage" [(ngModel)]="model.passDegreePercentage" matInput type="number"
                    min="0" max="100">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Exam Description</mat-label>
                <textarea name="description" [(ngModel)]="model.description" matInput rows="3"></textarea>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Answer Instructions</mat-label>
                <textarea name="answerInstructions" [(ngModel)]="model.answerInstructions" matInput rows="3"></textarea>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Exam Level</mat-label>
                <mat-select [(ngModel)]="model.level" name="level">
                    <mat-option *ngFor="let level of ['basic' , 'medium' , 'advanced']" [value]="level">{{level |
                        titlecase}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="row mbs">
                <mat-checkbox class="mie" name="shuffle" [(ngModel)]="model.shuffle">Shuffle questions and answers
                </mat-checkbox>
                <mat-checkbox name="show1by1" [(ngModel)]="model.show1by1">Show questins one by one</mat-checkbox>
            </div>
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept="image/*">

            <div class="file-upload row mbs">

                Exam image <span class="file-name">{{model.image?.name || imageName || "No file uploaded yet."}}</span>
                <button mat-button color="accent" class="upload-btn" (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                    <span>Upload</span>
                </button>
            </div>

        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Discard</button>
        <button mat-button (click)="submit(examForm)" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</ng-container>