:host {


    mat-dialog-content {

        padding: 0 !important;
        margin: 0 !important;
        height: 100% !important;

        form {
            display: flex;
            flex-flow: column nowrap;

            .row {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
            }

            .file-input {
                display: none;
            }

            .file-upload.row {


                .file-name {
                    display: inline-block;
                    margin-inline: .5rem;
                    color: gray;
                }
            }
        }


    }
}