:host {

    .exams-list {
        margin-block-start: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
        gap: 1rem;

        mat-card {

            display: flex;
            flex-flow: column;
            justify-content: space-between;


            .actions {

                button {
                    margin-inline-end: .5rem !important;
                }
            }
        }
    }
}

.level,
.share {
    color: #ff4081;
}