:host {
    .exams-list {
        margin-block-start: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
        gap: 1rem;

        mat-card {
            .actions {

                button {
                    margin-inline-end: .5rem !important;
                }
            }
        }
    }
}

.level {
    color: #ff4081;
    font-size: 12px;
    margin-inline-start: 1rem;
}