<ng-container *ngIf="exams$ | async as exams;">
    <app-filter [categories]="categories" [instructors]="instructors" (filter)="applyFilter($event)"></app-filter>
    <div class="exams-list">
        <a routerLink="/{{ls.language}}/exam/{{exam.id}}" *ngFor="let exam of exams" class="exam-card">
            <mat-card>
                <mat-card-subtitle>{{exam.category}}</mat-card-subtitle>
                <mat-card-title>{{exam.name | titlecase}}</mat-card-title>
                <mat-card-subtitle class="level">{{exam.level | titlecase}}</mat-card-subtitle>
                <mat-card-content>
                    {{exam.description?.slice(0,100)}}...
                </mat-card-content>
                <!-- <div class="actions">
                            <button (click)="showDetails(exam.id)" mat-raised-button>Details</button>
                            <button class="share" mat-raised-button>Share</button>
                        </div> -->
            </mat-card>
        </a>

    </div>
    <ng-container *ngIf="total$|async as total">
        <paginator [total]="total" (pageChange)="getExams($event,pageSize)" [dir]="dir">
        </paginator>
        {{total}}
    </ng-container>
</ng-container>
<ng-template *ngIf="exams$ | async as exam">
    <div class="error-message" *ngIf="!exam">
        There is no exams
    </div>
</ng-template>