<div>
  <button mat-icon-button *ngIf="canGoPrev" (click)="changePage(page - 1)">
    <mat-icon>
      {{dir === 'rtl' ? 'navigate_next' : 'navigate_before'}}
    </mat-icon>
  </button>
</div>

<div class="numbers">
  <button mat-icon-button [class.active]="p === page" *ngFor="let p of pagesBtns" (click)="changePage(p)">
    <span class="mat-icon">{{p}}</span>
  </button>
</div>

<div>
  <button mat-icon-button *ngIf="canGoNext" (click)="changePage(page + 1)">
    <mat-icon>
      {{dir === 'rtl' ? 'navigate_before' : 'navigate_next'}}
    </mat-icon>
  </button>
</div>