<form #filterForm="ngForm" (submit)="submit(filterForm)">

    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="selectedFilter.category" name="category">
            <mat-option>Not selected</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">{{category |titlecase}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Level</mat-label>
        <mat-select [(ngModel)]="selectedFilter.level" name="level">
            <mat-option>Not selected</mat-option>
            <mat-option *ngFor="let l of level" [value]="l">
                {{l | titlecase}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button color="primary" mat-button type="submit">Apply Filter</button>
</form>