:host {
    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: center;

    .container {
        max-width: 800px;
        margin-inline: auto;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    height: 100%;



    .body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        height: 100%;
    }

    .footer {
        height: 60px;

        &>div {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            flex-flow: row nowrap;
        }
    }

   


    .title {
        font-size: 2rem;
    }

    .intro {
        display: flex;
        height: 100%;
        justify-content: center;
        flex-flow: column nowrap;



        .intro-details {
            font-size: 12px;
            line-height: 2;
            text-align: justify;
        }
    }



    .question-wrapper {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 1rem;
        transition: all ease-in 250ms;
        width: 100%;

        &.active {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        &:not(:last-child) {
            margin-block-end: 1rem;
        }
    }

    .row {
        display: grid;
        align-items: center;
        gap: 1rem;

        &.question {
            grid-template-columns: 1fr auto;
        }

        &.answer {
            grid-template-columns: auto 1fr auto;
        }

    }
}

mat-icon {
    margin-inline-end: .2rem;
}

.flex-start {
    justify-content: flex-start;
    padding: 0;
    padding-block: 1rem;
}

.fixed-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #ff00aa;
}

