<table mat-table [dataSource]="data$">
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.display">
        <th mat-header-cell *matHeaderCellDef> {{col.display}} </th>
        <td mat-cell *matCellDef="let element"> {{element[col.prop]}} </td>
    </ng-container>

    <ng-container *ngIf="actions?.length">
        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngFor="let action of actions">
                    <button *ngIf="action.variant === 'button'" mat-stroked-button
                        (click)="emitAction(element, action.name)">
                        <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
                        <span *ngIf="action.text">{{action.text}}</span>

                    </button>
                    <button matTooltip="{{action.text || action.name}}" matTooltipClass="tooltip-action"
                        *ngIf="action.variant === 'icon'" mat-icon-button (click)="emitAction(element, action.name)">
                        <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
                    </button>
                </ng-container>


            </td>
        </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>