<ng-container *ngIf="exam$|async as _exam">
    <ng-container *ngIf="_exam !== null">

        <div class="flex-start" style="display: flex; flex-flow: row;">
            <h2>{{_exam.name}}</h2>
            <span class="spacer"></span>
            <button (click)="saveQuestions()" color="primary" mat-stroked-button>
                <mat-icon>save</mat-icon>
                Save
            </button>
        </div>
        <br>
        <form #qForm="ngForm">
            <ng-container *ngIf="questions.length">
                <div class="question-wrapper" [class.active]="active === q" (click)="active = q"
                    *ngFor="let q of questions;let index=index">

                    <div style="display: flex;">
                        <mat-form-field style="width: 110px">
                            <mat-label>Point of question</mat-label>
                            <input type="number" matInput [(ngModel)]="q.points" name="points">
                        </mat-form-field>
                        <span class="spacer"></span>
                        <button *ngIf="active === q" (click)="deleteItemFrom(questions,index)" color="warn"
                            mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div class="row question">
                        <mat-form-field>
                            <mat-label>Question Text</mat-label>
                            <textarea matInput [(ngModel)]="q.text" name="text">{{q.text}}</textarea>
                        </mat-form-field>

                    </div>
                    <div class="row answer" *ngFor="let choice of q.choices; let i = index">
                        <mat-checkbox (change)="setCorrectAnswer(q,choice,$event)"
                            [checked]="correctAnswers[q.id].indexOf(choice.value) > -1">
                        </mat-checkbox>
                        <mat-form-field>
                            <mat-label>Type answer here</mat-label>
                            <input matInput [value]="choice.display" (input)="changeChoiceValue(choice, $event)"
                                name="choice">
                        </mat-form-field>
                        <button (click)="deleteItemFrom(q.choices,index)" mat-icon-button color="warn">
                            <mat-icon>do_not_disturb_on</mat-icon>
                        </button>
                    </div>
                    <div class="flex-start">
                        <button *ngIf="active === q" mat-button color="primary" (click)="addOption(q)">
                            <mat-icon>add_circle</mat-icon> Add Option
                        </button>
                    </div>

                </div>


            </ng-container>
        </form>
        <br>
        <button mat-button color="primary" (click)="addQuestion(questions)">
            <mat-icon>add</mat-icon>Add question
        </button>
    </ng-container>
</ng-container>