:host {

    .details {

        mat-form-field {
            margin-inline-end: 1rem;
        }
    }

    .row {
        display: grid;
        align-items: center;
        gap: 1rem;

        &.question {
            grid-template-columns: 1fr auto;
        }

        &.answer {
            grid-template-columns: auto 1fr auto;
        }

    }
}

mat-icon {
    margin-inline-end: .2rem;
}

.flex-start {
    justify-content: flex-start;
    padding: 0;
    padding-block: 1rem;
}