:host {

    .exam-details {
        min-height: calc(100vh - 60px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 1fr;
        place-content: center;

        .image-sec {
            .exam-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .info-sec {
            height: 100%;
            display: flex;

            .sticker {
                font-size: 20px;
                font-weight: 500;
                background: #3f51b5;
                padding: 1rem;
                writing-mode: vertical-rl;
                text-align: start;
                color: white;

            }

            .text {
                .exam-name {
                    padding-inline: 1rem;
                    display: flex;
                    font-size: 4rem;
                    font-weight: 600;
                    line-height: 1.75;
                    color: #444;
                    margin: 0;
                    background-color: gold;

                }

                p {
                    line-height: 2;
                    text-align: justify;
                    padding-inline: 1rem;
                    margin: 0;
                    margin-block-start: 1rem;

                    strong {
                        letter-spacing: 1px;
                    }

                }
            }

            .actions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding: 1rem;


            }
        }
    }
}