<ng-container *ngIf="exam$ | async as exam">
    <div class="exam-details">

        <section class="info-sec">
            <h1 class="exam-name">
                {{exam.name}} 
                <span class="spacer"></span>
                <span class="level">{{exam.level | titlecase}}</span>
            </h1>
            <p class="exam-desc">{{exam.description}}</p>
            <ng-container *ngIf="auth.user$ | async as user">
                <div class="actions" *ngIf="user.roles.indexOf('student') > -1">
                    <button (click)="subscribe(exam.id)" color="warn" mat-flat-button>Subscribe</button>
                </div>
            </ng-container>

        </section>
        <section class="image-sec">
            <img class="exam-image" [src]="exam.image.url" [alt]="exam.image.name">
        </section>
    </div>
</ng-container>